<div class="container" >
  <div [hidden]="submitted" >
    <h1>Update your profile</h1>
    <form [formGroup]="readerForm"  *ngIf="reader"  (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="firstname">First Name</label>
        <input type="text" id="firstname" class="form-control"
        formControlName="firstname" required >
        <div *ngIf="formErrors.firstname" class="alert alert-danger">
          {{ formErrors.firstname }}
        </div>
      </div>
      <div class="form-group">
        <label for="lastname">Last Name</label>
        <input type="text" id="lastname" class="form-control"
        formControlName="lastname" required >
        <div *ngIf="formErrors.lastname" class="alert alert-danger">
          {{ formErrors.lastname }}
        </div>
      </div>
      <div class="form-group">
        <label for="middlename">Middle Name</label>
        <input type="text" id="middlename" class="form-control"
        formControlName="middlename"  >
        
      </div>
      
      
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" id="email" class="form-control"
        formControlName="email"  >
        <div *ngIf="formErrors.email" class="alert alert-danger">
          {{ formErrors.email }}
        </div>
        
      </div>
      <div class="form-group">
        <label for="phonenumber">Phone Number</label>
        <input type="text" id="phonenumber" class="form-control"
        formControlName="phonenumber"  >
        
      </div>
      <div class="form-group">
        <label for="church">Church</label>
        <input type="text" id="church" class="form-control"
        formControlName="church"  >
        
      </div>
      <div class="form-group">
        <label for="groups">Groups</label>
        <input type="text" id="groups" class="form-control"
        formControlName="groups"  >
        
      </div>
      <button type="submit" class="btn btn-default"
      [disabled]="!readerForm.valid">Submit</button>
      
    </form>
  </div>
</div>